{% extends 'index.html' %}
{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Тіркелу</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tasks.css' %}">
    <link rel="icon" href="{% static 'logo.png' %}">
</head>

<body>
    <main>
        <div class="logo-section">
            <div class="logo-chosen" id="iron">
                <img src="{% static 'ranks/iron.png' %}">
            </div>
            <div class="logo" id="bronze">
                <img src="{% static 'ranks/bronze.png' %}">
            </div>
            <div class="logo" id="silver">
                <img src="{% static 'ranks/silver.png' %}">
            </div>
            <div class="logo" id="gold">
                <img  src="{% static 'ranks/gold.png' %}">
            </div>
            <div class="logo" id="plat">
                <img src="{% static 'ranks/plat.png' %}">
            </div>
        </div>
        <form id="mainForm" method="POST" action="{% url 'tasks' %}" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            <input id="rank-input" name="rank" type="hidden">
            <div class="tasks-section">
                <div class="text">
                    <div class="editor" id="task1"></div>
                    <input id="task1-input" name="task1" type="hidden">
                </div>
                <div class="text">
                    <div class="editor" id="task2"></div>
                    <input id="task2-input" name="task2" type="hidden">
                </div>
                <div class="text">
                    <div class="editor" id="task3"></div>
                    <input id="task3-input" name="task3" type="hidden">
                </div>
                <div class="text">
                    <div class="editor" id="task4"></div>
                    <input id="task4-input" name="task4" type="hidden">
                </div>
                <div class="text">
                    <div class="editor" id="task5"></div>
                    <input id="task5-input" name="task5" type="hidden">
                </div>
            </div>
            <div class="button-group">
                <button id="button_cancel">Назад</button>
                <button id="button_save">Сохранить</button>
            </div>
        <script src="https://unpkg.com/imask"></script>
        <script>
            fetch('{% url "get_user_info" %}')
            .then(response => response.json())
            .then(data => {
                document.getElementById('rank-logo').src = '/api/serve_static/' + data.picture;
            })
            .catch(error => console.error('Error fetching user info:', error));
        </script>
        <!-- Include the Quill library -->
        <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
        <script>
            const tasks = JSON.parse('{{ tasks|escapejs }}');
        </script>
    </main>
    <script src="{% static 'js/tasks.js' %}"></script>
</body>
{% endblock content %}